PORT=
MODE=
DEV_DB=bakare_fin_pay_dev
DEV_USER=
DEV_PASSWORD=
DEV_HOST=
PROD_DB=bakare_fin_pay_prod
PROD_USER=
PROD_PASSWORD=
PROD_HOST=
TEST_DB=bakare_fin_pay_test
TEST_USER=
TEST_PASSWORD=
TEST_HOST=
WINSTONSOURCETOKEN=
WINSTONSOURCEID=
REDISPORT=6379
REDISHOST=
REDISPASSWORD=
SMTP_HOST=
SMTP_PORT=
SMTP_USN=
SMTP_PASSWORD=
JWT_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
PAYSTACKSECRETKEY=
PAYSTACKPUBLICKEY=
FIXERACCESSKEY=